.link {
    padding: 15px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 24px;
    margin: auto;
  }
  
  .home-logo {
    width: 178px;
    height: 61px;
    margin-left: 28px;
  }
  
  .nav-container {
    position:fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    padding: 20px 0px 10px 0px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-around;
  }

  @media only screen and (max-width: 1024px) {
    .home-logo {
      width: 168px;
    height: 51px;
    }
    .link {
      font-size: 20px;
    }
  }

  

  
